mixin link(href, name)
  if (path == href)
    li.nav-item.active: a.nav-link(href="#{href}") 
      | #{name} 
  else
    li.nav-item: a.nav-link(href="#{href}")
      | #{name} 

nav.navbar.navbar-light.bg-faded.navbar-toggleable
  a.navbar-brand(href='#') 靜態範例頁面
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      each item, i in menus.list
        +link(item.url, item.name)

    a(href="/login.html").btn.btn-outline-success.pull-right 登入
