doctype html
html
  head
    title 六角學院 gulp 範例頁面
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="stylesheets/all.css")
  body
    block navbar

    block content
    include partials/_footer.jade
    include partials/_scripts.jade
    
