
extends ./_layout.jade

block navbar
  - var path = 'index.html'
  include partials/_navbar.jade

block content
  .bg-primary.py-5
    .container.my-5
      .text-center.mb-4
        img.img-fluid(src="images/gulp-w.svg", alt="", width="100")
      h1.text-center.text-white 
        | 六角學院 
        br.hidden-sm-up
        | Gulp 教學範例頁面
  section.container.my-5
    h2.text-center.mb-5
      | 課程特色
    .row
      .col-sm-4
        .text-center
          img(src="images/github-icon-1.svg", alt="" height="100")
        h3.text-center.mt-4 課程範例開源
        p 本次課程範例都在 Github 上，且會持續更新，另外還提供 Github Page 快速部屬案例給同學參考！
      .col-sm-4
        .text-center
          img(src="images/sass-1.svg", alt="" height="100")
        h3.text-center.mt-4 包含主流開發套件
        p 課程中將會介紹如何建立 Sass、PostCSS、ES6 等等開發環境，讓同學自己的環境自己來打造。
      .col-sm-4
        .text-center
          img(src="images/es6.svg", alt="" height="100")
        h3.text-center.mt-4 ES6 課程即將加入
        p 在 JavaScript 課程中，我們將會補上 ES6 的基本使用概念，讓同學輕鬆入門 ES6 不落人後。
  section.container.py-5
    .text-center
      a.btn.btn-danger(href="https://courses.hexschool.com/p/gulp") 開始學習 Gulp


    
